.wrapper
    margin: 1em 0
    .label
        margin-bottom: .3em
    .input
        width: 100%
        border-radius: 6px
        border: 1px solid var(--text-main)
        height: 2.5em
        padding: 0 1em
        outline: none
