.wrapper
    border-bottom: 1px solid var(--text-secondary)
    height: 50px
    display: flex
    align-items: center
    padding: 0 20px
    justify-content: space-between
    .logo__wrapper
        .logo
            path
                fill: var(--text-main--)
