:root {
  --text-main: #212936;
  --text-secondary: #959BAE;
  --bg: #f9f9f9;
  --blue: #1976d2;
  --green: #27ae60;
  --red: #eb5757;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--text-main);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 380px;
  height: 500px;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}